body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    color: white;
    text-shadow: red 0px 2px 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
}

#status {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    background-color: #000000;
    border: 5px solid #000000;

    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: #007bff 0px 3px 30px inset;
}

.cell:hover {
    background-color: #152535;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#reset:hover {
    background-color: #0056b3;
}